body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table,th,td{
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

table{
  width: 100%;
  height: 30vh;
  margin-top: 30px;
  padding: 40px;
}