body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}



.all-btn{
 display: flex;
 align-items: center;
 justify-content: space-between;
 justify-content: center;
 min-height: 100vh;
 flex-direction: row;
}