body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

button{
  padding: 20px 40px;
  background: #050569;
  color: white;

  &:hover{
    background: blue;
    color: #cccccc;
  }
}

.all-btn{
 display: flex;
 align-items: center;
 justify-content: space-between;
 justify-content: center;
 min-height: 100vh;
 flex-direction: row;
}