Footer{
  background: #1a202c;
  color: white;
  text-align: center;
}

.text{
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .text2{
    display: flex;
    gap: 1rem;
  }

}

@media(max-width:600px){
  .text{
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
  }
}