Footer{
  background: #1a202c;
  color: white;
  text-align: center;
  font-size: 14px;
  color: grey;
    padding: 40px 0;
}

.text{
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}

@media(max-width:600px){
  .text{
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
  }
}