body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

.logo{
  color: wheat;
}

.active{
  text-decoration: none;
  color: wheat;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  background: #000;
}

ul{
  display: flex;
  list-style: none;
  gap: 3rem;
  align-items: center;
}

.link{
  color: #a1a1a1;
  align-items: center;
  text-decoration: none;
}

.link:hover{
  color:wheat ;
}

.link:active{
  color: white;
  font-weight: 500;
}